{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">
{{ range .Data.Pages.GroupByDate "2006" }}
    <div class="group">
        <h3 class="key">{{ .Key }}</h3>
        {{ range .Pages }}
        <div class="value">
            <div class="date">
                <time datetime="{{ .PublishDate }}">
                    {{ time.Format "2 Jan" .PublishDate }}
                </time>
            </div>
            <div class="title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ with .Params.tags }}{{ partial "tags.html" . }}{{ end }}
            </div>
        </div>
        {{ end }}          
    </div>
{{ end }}
</section>
{{ end }}
