{{ define "main" }}
{{ partial "profile.html" . }}

<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ $len := len $paginator.Pages }}
    {{ range $i, $page := $paginator.Pages }}
    <section class="item">
        <a href='{{ .RelPermalink }}'>
            <div class="postbar">
                <h1 class="title">{{ .Title }}</h1>
                <div class ="date">
                    <time datetime="{{ .PublishDate }}">{{ time.Format .Site.Params.dateFormat .PublishDate }}</time>
                </div>
            </div>
        </a>

        <div class="summary">
            {{ .Content }}
        </div>

        {{ with .Params.tags }}
            <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            </div>
        {{ end }}
    </section>

        {{ if not (eq (add $i 1) $len) }}
            <hr>
        {{ end }}
    {{ end }}


    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <span class="prev">
            <a href="{{- .Paginator.Prev.URL -}}">
              <span class="arrow">←</span> Newer Posts
            </a>
        </span>
        {{ end }}

        {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{- .Paginator.Next.URL -}}">
                Older Posts <span class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
